[Unit]
Description=tms uWSGI Emperor Service
After=network.target

[Service]
Environment="DJANGO_SETTINGS_MODULE=config.settings.local"
ExecStart=/home/namho/.virtualenvs/schools/bin/uwsgi --ini /home/namho/Projects/university-management/deploy/university_backend.ini
Restart=always
KillSignal=SIQUIT

[Install]
WantedBy=multi-user.target